* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "Lato", sans-serif;
	font-weight: 400;
	font-size: 16px;
	line-height: 1.7;
	color: #fff;
	padding: 0px 0px;
}

.header {
	height: 100vh;
	background-image: linear-gradient(to right bottom, rgba(255, 107, 107, 0.8), rgba(255, 15, 15, 0.8)), url(creaseart_head.jpg);
	background-size: cover;
	background-position: top;
	position: relative;
}

.logo-box {
	position: absolute;
	top: 25px;
	left: 25px;
}

.logo {
	height: 75px;
}

.nav-box {
	position: absolute;
	right: 3%;
	top: 5%;
}

.nav-box a {
	padding: 10px 20px;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: 400;
	font-size: 1.25rem;	
}

.btn:link, .btn:visited {
	text-decoration: none;
	text-transform: uppercase;
	box-shadow: 0px 4px 10px rgba(0,0,0, 0.2);
}

.btn-white {
	border-radius: 100px;
	background-color: #fff;
	padding: 15px 30px !important;
	text-align: center;
	color: rgba(238, 35, 17, 1) !important;
	transition: 0.2s;
}

.btn-white:hover {
	border: solid 2px rgba(255, 255, 255, 1);
	background-color: transparent;
	color: #fff !important;
	transition: 0.2s;
	box-shadow: none;
	padding: 15px 28px !important;
}

.text-box {
	position: absolute;
	top: 27%;
	left: 10%;
}

.heading-primary {
	color:#fff;
	text-transform: uppercase;
}

.heading-primary-main {
	display: block;
	font-size: 60px;
	font-weight: 700;
	letter-spacing: 10px;
	animation: moveInLeft 0.8s ease-out 0.25s;
}

.heading-primary-sub {
	display: block;
	font-size: 20px;
	font-weight: 700;
	word-spacing: 3px;
	letter-spacing: 4px;
	animation: moveInRight 0.8s ease-out 0.25s;
}

@keyframes moveInLeft {

	0% {
		opacity: 0;
		transform: translateX(-100px);
	}

	80% {
		transform: translateX(5px);
	}

	100% {
		opacity: 1;
		transform: translateX(0px);
	}
}

@keyframes moveInRight {

	0% {
		opacity: 0;
		transform: translateX(100px);
	}

	80% {
		transform: translateX(-5px);
	}

	100% {
		opacity: 1;
		transform: translateX(0px);
	}
}

.spinner-box {
	position: absolute;
	left: 65%;
	top: 22%;
}

.spinner {
	height: 300px;
	-webkit-animation:spin 4s linear infinite;
    -moz-animation:spin 4s linear infinite;
    animation:spin 4s linear infinite;
}

@-moz-keyframes spin {

	100% { 
		-moz-transform: rotate(360deg); 
	}
}

@-webkit-keyframes spin {

	100% {
		-webkit-transform: rotate(360deg);
	}
}

@keyframes spin {

	100% {
		-webkit-transform: rotate(360deg);
		transform:rotate(360deg);
	}
}

.search-box {
	position: absolute;
	top: 123%;
	left: 0%;
	width: 600px;
}

.search-bar {
	padding: 20px 5px;
	width: 450px;
	border: solid 2px #ffa300;
	border-right: none 0px #fff;
	font-size: 16px;
	color: #ffa300;
	cursor: text;
}

.btn-search {
	padding: 22px 20px;
	text-align: center;
	width: 150px;
	background: #ffa300;
	color: #fff;
	font-weight: 700;
	font-size: 16px;
	border: none;
	margin-left: -0.2em;
	cursor: pointer;
}

.join-box {
	position: fixed;
	width: 105vh;
	background-color: #f9f9f9;
	color: rgba(238, 35, 17, 1);
	font-family: "Lato", sans-serif;
	padding: 10px 0px;
	text-align: center;
	right: 0%;
	bottom: 0%;
}

.join-box h3 {
	text-transform: uppercase;
	font-weight: 700;
}

.join-box h4 {
	font-weight: 400;
	margin-top: 1rem;
}

.join-box button {
	margin-top: 1rem;
	padding: 10px 30px;
	background-color: rgba(238, 35, 17, 1);
	color: #fff;
	font-weight: 700;
	border: none;
	outline: none;
	cursor: pointer;
}